---
---

@import "{{ site.theme }}";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.site-header {
  border-top: 5px solid #424242;
  background-color: #f8f9fa;
}

.site-title {
  font-weight: 600;
}
